* {
  box-sizing: border-box;
  font-family: $ft-base;
  font-size: $fs-base;
  color: $ft-color;
  margin: 0;
  border: 0;
}

html{
   
  width: 100%;
  display:flex;
  flex-direction:column;
  min-height:100vh;
}

body{
  display:flex;
  flex-direction:column;
  min-height:100vh;
 
}
  

a {
  text-decoration: none;
}

.sticky{
  flex: 1;
  background: #f0f0f0;
}