/*Fonts Variables */
$ft-base: 'Roboto', sans-serif;
$ft-alt: 'Shrikhand', cursive;
$ft-color: #242424;
$fs-base: 16px;

/*Colors Variables */
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-alt: #d6d6d6;

/*images Variables */
$img-palette: '../img/restaurants/palette.jpg';
$img-note: '../img/restaurants/note.jpg';
$img-francaise: '../img/restaurants/francaise.jpg';
$img-delice: '../img/restaurants/delice.jpg';


/*Shadows Variables */
$shadow: 0 5px 20px -10px black;
$shadow-hover: 0 15px 30px -10px black;